@using Homework1.Models
@model IEnumerable<Homework1.Models.Student> 

<form action="" target="_blank" method="post">
<label for="studentID">Student ID: </label>
<input type="text" id="studentID" name="studentID" required /><br />
<input type="submit" value="Sign!"/> 
</form>