@using Homework1.Controllers
@using Homework1.Models
@model IEnumerable<Homework1.Models.Student> 
<h1>Student Attendance Application</h1>

<h2>@ViewBag.CourseCode @ViewBag.CourseName</h2>
<h3>Today: @ViewBag.CurrentDate</h3>



<p>Number of attendants: @ViewBag.AttendantStudentCount</p>

<h2>Signed students:</h2>
<ul>
        
    
</ul>

<a href="Sign/Sign">Click to sign</a>
<a href="List/List">Click to see all students</a>







