@using Homework1.Models
@using System.Diagnostics.Eventing.Reader
@model Homework1.Models.Student

@{
    if(Model.Signed)
    {
        <p>Student signed at @Model.SignedAt</p>
    }
    else
    {
        <p>Student didn't sign!</p>
    }
}
<p>ID: @Model.StudentID</p>
<P>NAME: @Model.Name @Model.Surname</P>

<a href="/Student/Student" style="text-decoration: none; padding: 10px 20px; background-color: darkblue; color: white; border-radius: 5px;">
        Go Back!
    </a>


